@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Lexend", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --light-black: #202020;
  --dark-black: #161616;
  --grey: #7a7a7a;
  --blue: #2370ff;
  --border-blue: #1a5ae8;
  --light-grey: #111111;
  --dark-grey: #353535;
  --red: #ff3f3f;
  --border-red: #d12f2f;
  --green: #46d671;
  --dark-green: #38b35d;
  --border-green: 0.3vh solid var(--dark-green);
  --border: 0.3vh solid var(--dark-grey);
  --border-radius: 1vh;
}

::selection {
  color: var(--white);
  background-color: var(--blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 4vh;
  border-bottom: var(--border);
  z-index: 1;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5vh;
  list-style-type: none;
}

li a {
  padding: 0 1vh;
}

a {
  text-decoration: none;
  color: var(--white);
}

input[type="search"] {
  height: 5vh;
  width: 30vh;
  padding: 0 2vh;
  font-size: 1.6vh;
  font-weight: 400;
  outline: none;
  color: var(--white);
  background-color: var(--dark-black);
  border-radius: var(--border-radius);
  border: var(--border);
  transition: all 0.3s ease;
}

input[type="search"]:focus {
  border-color: var(--grey);
}

select {
  height: 5vh;
  width: 14vh;
  padding: 0 2vh;
  font-size: 1.6vh;
  font-weight: 400;
  outline: none;
  color: var(--white);
  background-color: var(--dark-black);
  border-radius: var(--border-radius);
  border: var(--border);
  transition: all 0.3s ease;
  appearance: none;
  background-image: url('path/to/your-custom-arrow-icon.png'); 
  background-position: right 2vh center; 
  background-repeat: no-repeat; 
  cursor: pointer; 
}

select option {
  background-color: var(--dark-black);
  color: var(--white);
}
