.videoContainer {
    position: relative;
    height: 110vh;
    width: 100%;
    background-color: var(--dark-black);
}

video {
    height: 110vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.videoContainer .overlay {
    position: absolute;
    left: 50vw;
    bottom: 15vh;
    height: 6vh;
    width: 6vh;
    background-image: url(assets/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    z-index: 1;
    /* transform: translateX(-50%); */
}

.recipesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 7vh;
    min-height: 90vh;
    width: 100%;
    background-color: var(--dark-black);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 100%;
    margin-bottom: 1vh;
}

.title {
    font-size: 3vh;
    font-weight: 600;
    color: var(--white);
}

.filter {
    display: flex;
    gap: 2vh;
}

.recipes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
    height: 100%;
    width: 100%;
}

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vh;
    background-color: var(--white);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.empty {
    color: var(--white);
}